@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Cabin+Condensed|Cabin+Sketch|Coming+Soon|Fascinate+Inline|Lobster|Merriweather|News+Cycle|Poiret+One|Squada+One|Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Macondo&display=swap');
body {
    background-color: #ffeab8;
    font-family:'Lobster', cursive;
    display: block;
    line-height: 2.57em;
  }
  .modified_date {
    display: inline;
  }
  .copywrite_year {
    display: inline;
  }
  #profile_img {
    height: 15em;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 5px 5px 15px 5px #000000;
  }
  footer {
    background-color: #c99157;
    color: white;
    padding: 20px 10px 20px 10px;
    text-align: center;
    border-radius: 20px;
  }
  footer a {
    color: white;
  }
  header {
    background-color: #c99157;
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.5em 1em;
    border-radius: 20px;
    text-align:center;
    display:block;
  }
  .main_content {
    padding: 0em 2em 1em 3em;
  }

  h1, h2, h3, h4, h5, h6  {    
    font-family:'Lobster', cursive;
    font-size: 2.5em;
    line-height: 1.1em;
    color: #090a0a;
    text-align: center;
    padding: 10px;
    } 

  nav {
    padding: 10px;
    font-family:'Macondo', cursive;
    font-size: 1.55em;
    line-height: 1.5em;
    color: #090a0a;
  }

  nav a {
    color: #d70505;
  }