html {
    background-color: #4F5D73;
}
body {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Slab", serif;
}
main{
    background-color: #ffdd4a;
    padding: 2rem;
}
/*Navbar and Footer*/
.copywrite_year {
  display: inline;
}
header ul {
  list-style-type: none;
  padding-left: 0%;
}
header ul li {
  padding: 1rem 0rem;
  font-size: 1.2rem;
}
header{
    display: grid;
    grid-template-columns: 7rem 1fr;
    background-color: #4F5D73;
    column-gap: 3rem;
    padding: 1rem;
    color: #ffffff;
}
 header img{
    max-width: 100%;
}
footer{
    background-color: #4F5D73;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    color:#ffffff;
}
footer a {
    color:#ffffff
}
.navbar {
	list-style: none;
	padding: 0;
    background-color: #4F5D73;
    grid-column: 1/3;
}
.navbar ul li{
    padding:0rem 0rem ;
}
.navbar ul li:first-child{
    display: block;
    padding-bottom:1rem;
}
.navbar ul li:not(:first-child) {
    display:none;
}
.responsive ul li:not(:first-child){
    display: block;
}
.navbar a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	transition: 0.5s;
    text-align: center;
}
.navbar a:hover{
    color:#ffffff;
    background-color: #282F3A;
}
.navbar a:active{
    color:#ffffff;
    background-color: #000000;
}
#nav-seperation, #footer-seperation{
    background-color: #ffffff;
    border-color: #ffffff;
    grid-column: 1/3;
    width: 99%;
}
#menu-icon{
    font-size: 1.75rem;
}
#current-page{
    border-bottom: 4px solid #ffffff ;
    border-top: 4px solid #ffffff ;
}
@media (min-width: 37.5rem) {
    .navbar ul{
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
    .navbar ul li:first-child{
        display: none;
    }
    .navbar ul li:not(:first-child){
        display: block;
    }
    #current-page{
        border-top: 0px solid #000000 ;
    }
}
@media (min-width: 75.5rem) {
    header{
        grid-template-columns: 7rem auto 1fr;
    }
    .navbar{
        grid-column:3/4 ;
        grid-row:1/2;
    }
    .navbar ul{
        padding:19px 0rem ;
        align-items: center;
    }
    #nav-seperation{
        grid-column: 1/4;
    }

}
/* Social Icons CSS*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: #ffffff;
  grid-column: 2/3;
}
.fa-twitter {
  background: #55ACEE;
  color: #ffffff;
  grid-column: 3/4;
}
.fa-twitter span{
    color: #000000;
}
.fa-youtube {
  background: #FF0000;
  color: #ffffff;
  grid-column: 4/5;
}
.fa-youtube span{
    color: #000000;
}
#social-icons{
  display: grid;
  grid-template-columns: 1fr 90px 90px 90px 1fr;
  column-gap: .5rem;
}
.visually-hidden { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}