html {
    background-color: #006B00;
}
body {
  font-family: "Roboto", sans-serif;
  display: grid;
}
.current_date {
  display: inline;
}
.copywrite_year {
  display: inline;
}
header ul {
  list-style-type: none;
  padding-left: 0%;
}
header ul li {
  padding: 1rem 0rem;
  font-size: 1.2rem;
}
header{
    display: grid;
    grid-template-columns: 7rem 1fr;
    background-color: #006B00;
    column-gap: 3rem;
    padding: 1rem;
}
 header img{
    max-width: 100%;
    background-color: #ADD8E6;
    border-radius: 65px;
}
footer{
    background-color: #006B00;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}
footer a {
    color:#090A0A
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
}
.navbar {
	list-style: none;
	padding: 0;
    background-color: #006B00;
    grid-column: 1/3;
}
.navbar ul li{
    padding:0rem 0rem ;
}
.navbar ul li:first-child{
    display: block;
    padding-bottom:1rem;
}
.navbar ul li:not(:first-child) {
    display:none;
}
.responsive ul li:not(:first-child){
    display: block;
}
.navbar a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
    text-align: center;
}
.navbar a:hover{
    color:#ffffff;
    background-color: #8DDCA4;
}
.navbar a:active{
    color:#ffffff;
    background-color: #090A0A;
}
#nav-seperation{
    background-color: #090A0A;
    border-color: #090A0A;
    grid-column: 1/3;
    width: 99%;
}
#menu-icon{
    font-size: 1.75rem;
}
#current-page{
    border-bottom: 4px solid #090A0A ;
    border-top: 4px solid #090A0A ;
}
@media (min-width: 56.3rem) {
    .navbar ul{
        display: grid;
        grid-template-columns: repeat(6, auto);
    }
    .navbar ul li:first-child{
        display: none;
    }
    .navbar ul li:not(:first-child){
        display: block;
    }
    #current-page{
        border-top: 0px solid #090A0A ;
    }
}
@media (min-width: 79.5rem) {
    header{
        grid-template-columns: 7rem auto 1fr;
    }
    .navbar{
        grid-column:3/4 ;
        grid-row:1/2;
    }
    .navbar ul{
        padding:19px 0rem ;
        align-items: center;
    }
    #nav-seperation{
        grid-column: 1/4;
    }

}