@media (min-width: 56.3rem){
    main section:hover{
        box-shadow: 0 0 50px #8DDCA4;
    }
    main section:active{
        box-shadow: 0 0 50px #090A0A;
    }
    #home-preston a, #home-fish a{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #home-preston, #home-fish, #home-soda{
        max-width: fit-content;
    }
    #home-soda a{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #soda-content{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #soda-picture{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}