main{
    text-align: center;
}
#banner{
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
}
#current-weather-city, #wind-speed, #humidity, #wind-chill, #current-weather div, #current-weather .cc-notice{
    background-color: #77C2AF;
    margin-top: -1px;
    margin-bottom: 1px;
    padding:.25rem;
    text-align: center;
    font-weight:600;
}
#city-name{
    text-align: center;
    background-color: #77C2AF;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:.25rem;
}
.cc-notice{
    font-size: .75rem;
    font-weight: 500;
}
.lighter{
    font-weight: 300;
    margin: 0px;
}
.stronger{
    font-weight: 700;
    margin: 0px;
    margin-top: .25rem;
}
#hero-widget{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#current-weather-city{
    grid-column: 1/4;
    
}
#temp-data{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: auto auto;
}
#current-temp{
    font-size: 1.2rem;
}
#current-weather{
    font-size: .85rem;
    
}
#hero-widget .cc-notice{
    grid-column: 1/4;
}
#temp-data img{
    margin: auto;
}
#forecast-widget{
    background-color: #77C2AF;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    column-gap: .25rem;
    border-radius: 1rem 1rem 0 0;
}
#forecast-city{
    margin-top: auto;
    margin-bottom: auto;
}
div .cc-notice{
    background-color: #77C2AF;
    margin-top: 0rem;
    border-radius: 0 0 1rem 1rem;
}
.rentalCard{
    padding-top: .5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    background-color: #77C2AF;
    border-radius: 1rem;
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
}
.rentalCard img{
    width:100%;
}
main div section:hover{
    box-shadow: 0 0 50px #4a4a4a;
}
#current-weather-city{
    border-radius: 1rem 1rem 0 0;
}
#scooters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
}
#contact a{
    color: #000000;
}
#contact{
    margin-bottom: 4rem;
}
.headings{
    border-bottom: 3px solid #000000;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}